<div class="container mx-auto p-4">
  <!-- Recipe Grid -->
  <div class="grid gap-4 grid-cols-1 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-4">
    <app-meal-card
      *ngFor="let recipe of recipes(); trackBy: trackByRecipeId"
      [id]="recipe.id"
      [title]="recipe.title"
      [image]="recipe.image"
      [time]="recipe.readyInMinutes"
      [vegan]="recipe.vegan"
    >
    </app-meal-card>
  </div>

  <!-- Pagination Mode Controls -->
  <div
  *ngIf="displayMode === 'pagination'"
  class="mt-4 flex justify-center space-x-2"
>
  <button
    class="border px-2 rounded-lg lg:px-5 lg:py-2 mr-2 font-playfair text-lg text-main font-bold mat-raised-button px-4 py-2 text-white bg-indigo-600 rounded disabled:opacity-50"
    [disabled]="currentPage() === 1"
    (click)="previousPage()"
  >
    Previous
  </button>

  <span class="px-4 py-2 font-playfair">
    {{ currentPage() }} / {{ totalPages() }}
  </span>

  <button
    class="border px-2 rounded-lg lg:px-5 lg:py-2 mr-2 font-playfair text-lg text-main font-bold mat-raised-button px-4 py-2 text-white bg-indigo-600 rounded disabled:opacity-50"
    [disabled]="!hasMorePages()"
    (click)="nextPage()"
  >
    Next
  </button>
</div>

<!-- Show More Mode Button -->
<div
  *ngIf="displayMode === 'showMore' && hasMorePages()"
  class="mt-4 flex justify-center"
>
  <button
    class="border px-2 rounded-lg lg:px-5 lg:py-2 mr-2 font-playfair text-lg text-main font-bold mat-raised-button px-4 py-2 text-white bg-indigo-600 rounded disabled:opacity-50"
    (click)="showMore()"
  >
    Show More
  </button>
</div>