<div class="p-8 mx-[10%]">
<div class="recipe-header">
    <div class="rating">
        <img src="../../../assets/recipe/arrow-up.svg" />
        85% would do this again
    </div>
    <h1 class="recipe-title text-main">Strawberry Cream Cheesecake</h1>
    <div class="metadata">
      <span class="author">
        <img src="../../../assets/cat.png" alt="Author" class="author-image" />
        <span class="author-name">Foufa</span>
      </span>
      <span class="date">
        <img src="../../../assets/recipe/calendar.svg" />
        Yesterday
      </span>
      <span class="comments">
        <img src="../../../assets/recipe/comments.svg" />
        999
      </span>
      <span class="stars">
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
      </span>
    </div>
  </div>
</div>
  