/* Footer Component */
.footer {
    text-align: left; /* Align content to the left */
    background-color: #fff9f5; /* Matches the page's background */
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 85px;


  }
  

  
  .feedback-button:hover {
    background-color: #f0f0f0; /* Subtle hover effect */
  }
  
  hr {
    border: none;
    border-top: 2px solid #67967b; /* Green line */
    margin-top: 20px;
    width: 100%; /* Extend the line to full width */
  }
  