<div class="p-8 mx-[10%]  ">
  <div class="footer">
    <h2 class="text-main text-6xl font-playfair font-bold my-8">
      Already made this?
    </h2>
  </div>
  <button
    class="py-2.5 px-5 me-2 mb-2 text-lg  font-inter text-gray-900 focus:outline-none bg-bg rounded-lg border border-gray-200 hover:bg-second_main hover:text-gris_clair focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
    (click)="shareFeedback()"
  >
    Share your feedback
  </button>
  <hr />
</div>
