<div class="p-8 mx-[10%]">
  <div class="recipe-header">
    <div class="rating">
      <img src="../../../assets/recipe/arrow-up.svg" />
      85% would do this again
    </div>
    <div class="grid grid-cols-10 gap-4">
      <h1
        class="col-start-1 col-end-10 recipe-title text-main text-5xl text-left"
      >
        {{ recipe?.name }}
      </h1>
      <button
        type="button"
        (click)="likeRecipe()"
        class="flex items-center text-sm hover:underline dark:text-gray-400 font-inter ml-4"
      >
        <svg
          class="mr-1.5 w-8 h-8"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          [attr.fill]="liked ? 'red' : 'none'"
          viewBox="0 0 24 24"
          [ngClass]="{ 'bg-red-500': liked, 'bg-gray-500': !liked }"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
          />
        </svg>
      </button>
    </div>
    <!-- Recipe Details -->
    <div class="grid justify-items-center">
      <img
        src="{{ recipe?.image }}"
        alt="{{ recipe?.name }}"
        class="h-auto max-w-full rounded-lg"
      />
    </div>
  </div>

  <div class="grid grid-cols-2 gap-5 font-inter text-lg">
    <div class="">
      <div class="grid grid-cols-3 gap-4">
        <div class="">
          <p class="text-second_main font-bold text-lg">Prep time</p>
          <p class="text-base">{{ recipe?.prepTime }} min</p>
        </div>
        <div class="">
          <p class="text-second_main font-bold text-lg">Cook time</p>
          <p class="text-base">{{ recipe?.cookTime }}min</p>
        </div>
        <div class="">
          <p class="text-second_main font-bold text-lg">Servings</p>
          <p class="text-base">{{ recipe?.servings }} people</p>
        </div>
      </div>
      <div class="py-5">
        <h2 class="font-playfair text-main font-semibold text-4xl py-3">
          Ingredients
        </h2>
        <ul>
          @for(ingred of recipe?.ingredients; track $index){
          <li>• {{ ingred }}</li>
          }
        </ul>
      </div>
      <div class="py-5">
        <h2 class="font-playfair text-main font-semibold text-4xl py-3">
          Instructions
        </h2>
        <ol>
          @for(instruction of recipe?.instructions; track $index){
          <li>• {{ instruction }}</li>
          }
        </ol>
      </div>
    </div>
    <!-- Sidebar -->
    <div>
      <div
        class="w-full max-w-sm bg-light_green rounded-lg shadow justify-items-center font-inter text-sm text-gris"
      >
        <!-- Nutrition Facts -->
        <div class="flex-col justify-between font-inter p-8">
          <h2 class="font-playfair text-main font-semibold text-4xl py-3">
            Nutrition Facts
          </h2>
          <ul>
            <li class="flex justify-between">
              <p class="">Calories</p>
              <p>{{ recipe?.nutritionFacts?.calories }}</p>
            </li>
            <div class="h-px bg-main w-full my-2"></div>
            <li class="flex justify-between">
              <p>Total Fat</p>
              {{ recipe?.nutritionFacts?.fat }}
            </li>
            <div class="h-px bg-main w-full my-2"></div>

            <li class="flex justify-between">
              <p>Saturated Fat</p>
              {{ recipe?.nutritionFacts?.saturatedFat }}
            </li>
            <div class="h-px bg-main w-full my-2"></div>

            <li class="flex justify-between">
              <p>Cholesterol</p>
              {{ recipe?.nutritionFacts?.cholesterol }}
            </li>
            <div class="h-px bg-main w-full my-2"></div>

            <li class="flex justify-between">
              <p>Sugars</p>
              {{ recipe?.nutritionFacts?.sugar }}
            </li>
            <div class="h-px bg-main w-full my-2"></div>

            <li class="flex justify-between">
              <p>Protein</p>
              {{ recipe?.nutritionFacts?.protein }}
            </li>
            <div class="h-px bg-main w-full my-2"></div>

            <li class="flex justify-between">
              <p>Total Carbohydrate</p>
              {{ recipe?.nutritionFacts?.carbohydrates }}
            </li>
            <div class="h-px bg-main w-full my-2"></div>
          </ul>
        </div>
      </div>
      <!-- Fresh Recipes -->
      <div class="flex-col justify-between font-inter p-8">
        <h2 class="font-playfair text-main font-semibold text-4xl py-3">
          Fresh Recipes
        </h2>
        <ul
          class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
        >
          @for (random of randomRecipes ; track random.id){ @if(random.image){
          <li class="flex flex-col items-center">
            <img
              class="w-full h-32 object-cover sm:w-40 sm:h-40 md:w-48 md:h-48 lg:w-56 lg:h-56"
              src="{{ random.image }}"
              alt="{{ random.name }}"
            />
            <p class="text-center mt-2">{{ random.name }} <br />★★★★★</p>
          </li>
          }}
        </ul>
      </div>
    </div>
  </div>
</div>
