<div class="p-8 mx-[10%]">
  <div class="recipe-header">
    <div class="rating">
      <img src="../../../assets/recipe/arrow-up.svg" />
      85% would do this again
    </div>
    <h1 class="recipe-title text-main text-5xl text-center">
      {{ recipe?.name }}
    </h1>

    <!-- Recipe Details -->
    <div class="grid justify-items-center">
      <img
        src="{{ recipe?.image }}"
        alt="{{ recipe?.name }}"
        class="h-auto max-w-full rounded-lg"
      />
    </div>
  </div>

  <div class="grid grid-cols-2 gap-5 font-inter text-lg">
    <div class="">
      <div class="grid grid-cols-3 gap-4">
        <div class="">
          <p class="text-second_main font-bold text-lg">Prep time</p>
          <p class="text-base">{{ recipe?.prepTime }} min</p>
        </div>
        <div class="">
          <p class="text-second_main font-bold text-lg">Cook time</p>
          <p class="text-base">{{ recipe?.cookTime }}min</p>
        </div>
        <div class="">
          <p class="text-second_main font-bold text-lg">Servings</p>
          <p class="text-base">{{ recipe?.servings }} people</p>
        </div>
      </div>
      <div class="py-5">
        <h2 class="font-playfair text-main font-semibold text-4xl py-3">
          Ingredients
        </h2>
        <ul>
          @for(ingred of recipe?.ingredients; track $index){
          <li>• {{ ingred }}</li>
          }
        </ul>
      </div>
      <div class="py-5">
        <h2 class="font-playfair text-main font-semibold text-4xl py-3">
          Instructions
        </h2>
        <ol>
          @for(instruction of recipe?.instructions; track $index){
          <li>• {{ instruction }}</li>
          }
        </ol>
      </div>
    </div>
    <!-- Sidebar -->
    <div>
      <div
        class="w-full max-w-sm bg-light_green rounded-lg shadow justify-items-center font-inter text-sm text-gris"
      >
        <!-- Nutrition Facts -->
        <div class="flex-col justify-between font-inter p-8">
          <h2 class="font-playfair text-main font-semibold text-4xl py-3">
            Nutrition Facts
          </h2>
          <ul>
            <li class="flex justify-between">
              <p class="">Calories</p>
              <p>{{ recipe?.nutritionFacts?.calories }}</p>
            </li>
            <div class="h-px bg-main w-full my-2"></div>
            <li class="flex justify-between">
              <p>Total Fat</p>
              {{ recipe?.nutritionFacts?.fat }}
            </li>
            <div class="h-px bg-main w-full my-2"></div>

            <li class="flex justify-between">
              <p>Saturated Fat</p>
              {{ recipe?.nutritionFacts?.saturatedFat }}
            </li>
            <div class="h-px bg-main w-full my-2"></div>

            <li class="flex justify-between">
              <p>Cholesterol</p>
              {{ recipe?.nutritionFacts?.cholesterol }}
            </li>
            <div class="h-px bg-main w-full my-2"></div>

            <li class="flex justify-between">
              <p>Sugars</p>
              {{ recipe?.nutritionFacts?.sugar }}
            </li>
            <div class="h-px bg-main w-full my-2"></div>

            <li class="flex justify-between">
              <p>Protein</p>
              {{ recipe?.nutritionFacts?.protein }}
            </li>
            <div class="h-px bg-main w-full my-2"></div>

            <li class="flex justify-between">
              <p>Total Carbohydrate</p>
              {{ recipe?.nutritionFacts?.carbohydrates }}
            </li>
            <div class="h-px bg-main w-full my-2"></div>
          </ul>
        </div>
      </div>
      <!-- Fresh Recipes -->
      <div class="flex-col justify-between font-inter p-8">
        <h2 class="font-playfair text-main font-semibold text-4xl py-3">
          Fresh Recipes
        </h2>
        <ul
          class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
        >
          @for (random of randomRecipes ; track random.id){ @if(random.image){
          <li class="flex flex-col items-center">
            <img
              class="w-full h-32 object-cover sm:w-40 sm:h-40 md:w-48 md:h-48 lg:w-56 lg:h-56"
              src="{{ random.image }}"
              alt="{{ random.name }}"
            />
            <p class="text-center mt-2">{{ random.name }} <br />★★★★★</p>
          </li>
          }}
        </ul>
      </div>
    </div>
  </div>
</div>
